<!DOCTYPE html>
<html>
        
    <body>
            <h2> You have selected to publish/reproduce </h2>
            <h2><%= topicHead %></h2>
            <h2>Please wait Build in progress.....</h2>

    </body>
</html>
<script>console.log("loaded select");</script>